@font-face {
 font-family: "a_LCDNova";

 src: url("../static/fonts/ticker.ttf") format("opentype");
}

@font-face {
    font-family: "Graffiti";

    src: url("../static/fonts/16804.otf" )format("opentype");
}

body {
    width: 1920px;
    height: 1080px;
    border: 0;
    margin: 0;
}

.ticker {
    position: absolute;
    top: 100px;
    left: 1223px;
    width: 359px;
    height: 91px;
}

.ticker__title {
    position: relative;
}

.ticker__data {
    position: relative;
    margin-top: 8px;
}

.ticker .marquee {
    font-family: "a_LCDNova", serif;
    letter-spacing: 3px;
    line-height: 41px;
    height: 41px;
    width: 359px;
    font-size: 28px;
    color: #d0a640;
}

img.background {
    max-width: 100%;
    max-height: 100%;
}

.marquee {
    text-align:left;width:100%;overflow:hidden;white-space: nowrap;
}

.marquee span {
    display:inline-block;width:100%;text-indent:0;animation: marquee 10s linear infinite
}

.marquee span:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0%  { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
}

div.chart {
    position: absolute;
    top: 410px;
    left: 148px;
    width: 400px;
    height: 400px;
}

div.chart__name {
    position: absolute;
    width: 292px;
    height: 49px;
    top: 346px;
    left: 205px;
    font-family: Graffiti;
    font-size: 30pt;
    color: #c8100e;
    text-shadow: black 0 0 4px;
    /*background-color: black;*/
}
